.swiper-container {
  width: 640px;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-btn {
  color: Blue;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid blue;
  cursor: pointer;
}
